h1{
    font-family: Arial, Helvetica, sans-serif;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    border: 1px solid #e7e7e7;

}
li{
        float: left;
        
}

li a {
        display: block;
        padding: 15px; 
    font-family: Arial, Helvetica, sans-serif;
  }

  p{
      font-size: medium;
      padding: 8px;

  }

img{
    height: 280px;
    width: 100%;
}

.buch{
    background-color: lightgrey;
    width: 100%;
    padding: 20px;
    
}

.formular{
    background-color: lightgrey;
    width: 50%;
    padding: 20px;
    padding-right: 80px;
    padding-top: 10px;
    
}


input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.column{
    background-color: lightgrey gb(0, 0, 0);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.column-row{
    
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}





